@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Prata&family=Work+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.8rem;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    /* height: auto;
    width: 110px; */
    height: 80px;
    width: 100px;
    padding-top: 1rem;
    cursor: pointer;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    align-items: flex-start;
    width: 100%;
    display: none;
}

.navbar ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
}

.navbar ul li {
    padding: .8rem 0;
    color: #121212;
    cursor: pointer;
}

.navbar ul li:hover {
    color: #9bd8c9;
}


.toggle-button {
    position: absolute;
    top: 1.8rem;
    right: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.9rem;
    height: 1.7rem;
    background: url("images/menu.png");
    background-repeat: no-repeat;
    border: 0;

}

.toggle-button .bar {
    height: 3px;
    /* will take up 10 f ff0% width inside of the toggle button container */
    width: 100%; 
    background-color: black;
    border-radius: 10px;
}

.navbar.active {
    display: flex;
    justify-content: center;
}



@media (min-width: 768px) {
    .toggle-button {
        display: none;
    }

    .logo {
        height: auto;
        width: 190px;
        padding: 1rem;
        margin: 0;
    }
    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        width: auto;
        display: flex;
    }
    .navbar ul {
        flex-direction: row;
    }
    .navbar ul li {
        display: flex;
        padding: 0 1.563rem;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
/* END HEADER */

/* START HERO */
.hero-image {
    margin-top: 1rem;
    background-image: url(images/hero1.jpg);
    background-size: cover;
    background-position: center;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
    padding: 0 0.6rem;
}

.hero-text h1 {
    font-size: 2.8rem;
}

.hero-text button {
    background-color: white;
    color: #393E41;
    margin-top: 2.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

@media (min-width: 768px) {
    .hero-image {
        margin-top: 0;
    }
    .hero-text {
        font-size: 1.2rem;
    }
    .hero-text h1 {
        font-size: 3.5rem;
    }
}
/* END HERO */

/* START RESULTS BANNER */
.results-bar {
    max-width: 100%;
    background: #3C6383;
    padding: 1rem;
    color: white;
}

.results-bar .container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.result {
    text-align: center;
}

.result .number {
    font-size: 2.2rem;
    margin-bottom: -0.6rem; 
    font-weight: bold;
}

@media (min-width: 768px) {
    .results-bar .container {
        display: flex;
        justify-content: space-between;
    }
    .result .number {
        font-size: 3rem;
    }
}

/* END RESULTS BANNER */


/* START OVERVIEW SECTION */
.container .column {
    flex: 1; 
    /* border: 1px solid #ccc; */
}

.overview, .services-home, .paid-media {
    text-align: center;
    padding-top: 3rem;
}

.container .column h2 {
    padding-bottom: 1rem;
}

.container .column button {
    background-color: transparent;
    color: #393E41;
    margin-top: 2.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    border: 3.5px solid #9bd8c9;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}


@media (min-width: 768px) {
    .overview .container {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        text-align: left;
    }

    .container .column h2 {
        padding-left: 2rem;
        padding-right: 4rem;
        font-size: 2.1rem;
    }
    .services-home .container .column p{
        padding-left: 2rem;
        padding-right: 4rem;
    }

    .container .column p {
        padding-right: 2rem;
        padding-left: 4rem;
        font-size: 1rem;
    }
    .container .column button {
        margin-top: 1rem;
    }
}
/* END OVERVIEW SECTION */

/* START HOMEPAGE SERVICES SECTION */
.container .column img {
    height: auto;
    width: 100%;
    margin-top: 3rem;
    border-radius: 25px;
}

@media (min-width: 768px) {
    .services-home .container {
        flex-direction: row-reverse;
        margin-top: 3rem;
    }
    .container .column img {
        /* padding-right: 2rem;
        padding-left: 4rem; */
        margin-left: 4rem;
        font-size: 1rem;
        height: auto;
        width: 85%;
        border-radius: 45px;
    }
}
/* END HOMEPAGE SERVICES SECTION */

/* START TESTIMONIAL SLIDER */

.testimonials .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6rem;
}

.cards {
    max-width: 14.5rem;
}

.cards img {
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
}
.person-info h3 {
    margin-top: 1rem;
}
.review-text .quote {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    color: #3C6383;
    margin-bottom: 1.5rem;
}
.ig-account, .title {
    color: #3C6383;
}

@media (min-width: 768px) {
    .cards {
        max-width: 23.5rem;
    }
    .testimonials .container {
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .review-text {
        padding-left: 3rem;
    }
    .person-info {
        display: flex;
    }
    .review-text .quote {
        font-size: 1.8rem;
        font-style: italic;
        font-weight: bold;
        color: #3C6383;
        margin-bottom: 1.5rem;
    }
    .person-info h3 {
        margin-top: 5rem;
    }
    .line {
        border-left: thick solid #3C6383;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        height: 1.6rem;
    }
    .person-info h3 {
        margin-top: 0;
    }
}



/* END TESTIMONIAL SLIDER */